@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sofia Sans", sans-serif;
}
textarea:focus,
input:focus {
  outline: none;
}
li {
  grid-template-columns: auto 1fr auto;
}
li:nth-child(odd) {
  background: #f3f4f6;
}
.completed {
  text-decoration: line-through;
  color: #888;
}
